body {
    height: 98vh;
    width: 99vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

#login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    border-radius: 10px;
    padding: 20px;
    background-color: #d6d6d6;
}

.form-group {
    margin: 5px;
}

label {
    color:rgb(68, 68, 68);
    font-weight: bold;
    font-size: small;
    display: block;
    margin-left: 15px;
}

#form-title {
    color:rgb(68, 68, 68);
    font-weight: bolder;
}

.input-login {
    width: 200px;
    height: 20px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

#auth-button, #search-button {
    color: white;
    background-color: green;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    width: 100vw;
    height: 30px;
    background-color: gray;
    color: azure;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 10px 0 0 0;
}